* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background: linear-gradient(45deg, #111, #333); /* Gradient background for a subtle effect */
    font-family: Helvetica;
}

.footercontainer {
    width: 100%;
    padding: 30px;
}

.socialicons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Improved spacing */
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow for a lifted effect */
}

.socialicons a i {
    font-size: 2em;
    text-decoration: none;
    color: black;
    opacity: 0.9;
}

/* hover effect */
.socialicons a:hover {
    background-color: #111;
    transition: background-color 0.3s ease;
}

.socialicons a:hover i {
    color: white;
    transition: color 0.3s ease;
}

.footernav ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.footernav li {
    list-style-type: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: opacity 0.5s ease; /* Smooth transition on hover */
}

.footernav ul li a:hover {
    opacity: 1;
}

.footerbottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-decoration: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 5px; /* Adjusted margin for better spacing */
}

.footernav ul li {
    padding-top: 20px;
}

.contact {
    color: aliceblue;
}
